@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Add !important to override Tailwind CSS */
  color: white;

  background-image: linear-gradient(to bottom right, #00c0fb, #2c89fb, #00b0fb);

  position: relative;
  font-family: monospace;
  font-size: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Semi-transparent white overlay */
  backdrop-filter: blur(10px); /* Increase blur amount for a stronger effect */
  z-index: 1;
}

.planBg1 {
  background-image: linear-gradient(to bottom right, #4e01ab, #e601f6, #4602a5);
}
.planBg2 {
  background-image: linear-gradient(to bottom right, #029f41, #03fd35, #028c37);
}
.planBg3 {
  background-image: linear-gradient(to bottom right, #cc7109, #f1c62a, #fb7500);
}

.glow {
  transition: all 0.3s ease-in-out;
}
.glow:hover {
  box-shadow: 0 0 25px #2200ff; /* Orange glow effect on hover */
}

.img_glow {
  box-shadow: 0 0 55px #2200ff; /* Larger glow effect for the image */
}

.neno-button {
  transition: all 0.3s ease-in-out;
}
.neno-button:hover {
  box-shadow: 0 0 15px #2200ff; /* Light orange glow effect for buttons */
}

.card_glow {
  box-shadow: 0 0 25px #2200ff; /* Orange glow for cards */
}

.service_glow {
  box-shadow: 0 0 15px #2200ff; /* Orange glow for cards */
}

.service_glow_special {
  box-shadow: 0 0 15px #ff00f2; /* Orange glow for cards */
}

.input_glow {
  box-shadow: 0 0 15px #2200ff; /* Light orange glow for input fields */
}

.gradient-text {
  background-image: linear-gradient(to right, #8e00fb, #2200ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-background {
  background-image: linear-gradient(to right, #8e00fb, #2200ff);
}
